.heroSlider,
.heroSwiper,
.heroSlide {
  width: 100%;
  height: 79dvh;
}

.heroSlide {
  position: relative;
  overflow: hidden;
}

/* IMAGE */
.heroImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.heroOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.7)
  );
  z-index: 1;
}

/* CONTENT */
.heroContent {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 0 20px;
}

.heroContent h1 {
  font-size: 72px;
  color: #fff;
  margin-bottom: 18px;
  line-height: 1.1;
}

/* BUTTONS */
.heroActions {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.btnPrimary,
.btnOutline {
  min-width: 180px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
}

/* PRIMARY */
.btnPrimary {
  background: #ff4d8d;
  color: white;
}

.btnOutline {
  border: 2px solid #fff;
  color: #fff;
  background: rgba(0,0,0,0.25);
}

/* MOBILE */
@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 38px;
  }

  .heroActions {
    flex-direction: column;
    width: 90%;
  }

  .btnPrimary,
  .btnOutline {
    width: 100%;
    height: 50px;
  }
}